bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
**/*.DotSettings.user
**/*.out
**/*.out.debug
**/output.bin
**/output.bin.debug
**/BenchmarkDotNet.Artifacts

# IntelliJ Plugin Build
CatASM-IntelliJ-Plugin/.gradle/
CatASM-IntelliJ-Plugin/build/
CatASM-IntelliJ-Plugin/.idea/
